.searchbar--input
{
    font-size: xx-large;
    width:100%;
    height: 52px;
    border: none;
    outline: none;
    border-radius: 16px;
    padding-left: 10px;
}

.searchbar--container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 92px;
    position:sticky;
    top:75px;
    padding-top: 20px;
    padding-bottom:20px;
 
    z-index:10;
}

.searchbar--wrapper
{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    height: fit-content;
    background-color: white;
    margin-left: 30px;
}

.searchbar--container button
{
    width: 52px;
    height: 52px;
    border: none;
    background-color: transparent;
}

.searchbar--nav_btn
{
    width: 52px;
    height: 52px;
    border: none;
    background-color: transparent;
    margin-left:40px;
    margin-right: 40px;
}

.searchbar--container button
{
    outline: none !important;
    box-shadow: none !important;
}