.button {
    font: inherit;
    border: 1px solid #3babdfa1;
    background: #3babdfa1;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #1c1c1c;
    border-color: #1c1c1c;
  }
  
  .button:focus {
    outline: none;
  }