#sortWindow
{
    position:absolute;
    top:92px;
    z-index: -100;
}

#sortWindow--inner
{
    max-width: 400px;
}

.sortWindow--select
{
    width:300px;
}

.sortWindow--sortBtn * {
    pointer-events: none
}

.sortWindow--selectBroj
{
    width:200px;

}

.sortWindow--row
{
    display:flex;
    flex-direction: row;
    margin-top:10px;
    justify-content: space-between;
}