.dropDown
{
    width:100%;
    height: 100vh;
    background: rgba(204, 199, 199, 0.856);
    display:flex;
    justify-content: center;

}

.dropDown--container
{
    margin-top:20px;
    max-width: 500px;
    max-height: 600px;
    display:flex;
    flex-direction: column;
    background-color: var(--color_primary);
    align-self:flex-start;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    padding:20px;

}