.datatable{
    background-color: #FFFFFF;
    height: 500px;
    padding: 20px;
    .cellWithImg{
        display: flex;
        align-items: center;
    }
    .cellImg{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
        &.PremiumUser{
            background-color: rgba(0,128,0,0.05);
            color: green;
        }
    }
    .cellAction{
        display: flex;
        align-items: center;
        gap:15px;
        .suspendUser{
            padding: 2px 5px;
            border-radius: 5px;
            color:darkblue;
            border:1px dotted rgba(0,0,139,0.596);
            cursor:pointer;
        }
        .postaviModeradora{
            padding: 2px 5px;
            border-radius: 5px;
            color:crimson;
            border:1px dotted rgba(220,20,60,0.6);
            cursor:pointer;
        }
    }
}