.expenses-filter {
    color: white;
    padding: 0 1rem;
  }
  
  .expenses-filter__container {
    display: flex;
    flex-wrap: wrap; /* Omogućava prelazak u novu liniju kada nema dovoljno prostora */
  }
  
  .expenses-filter__control {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Opciono - dodaje razmak između elemenata */
    margin-bottom: 10px; /* Opciono - dodaje vertikalni razmak između filtera */
  }
  
  .expenses-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .expenses-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }
  