@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  font-size: 62.5%;
} */

.oglasiKartica {
  font-family: "Rubik", sans-serif;
   line-height: 1; 
   font-weight: 400; 
  /* color: #555; */
}

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 3.0rem;
  row-gap: 5rem;
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.margin-right-md {
  margin-bottom: 4.8rem !important;
}

strong {
  font-weight: 500;
}

/***************************/
/* MEALS SECTION */
/***************************/
.section-meals {
 padding-top: 10px;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
  width: 430px;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-content {
 
  padding-bottom: 1.7rem;
  padding-top: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.meal-tags {
  margin-bottom: 1.2rem;
  display: flex;
  gap: 0.4rem;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  background-color: #3B82F6;
  color: #FFFFFF;
  border-radius: 100px;
  font-weight: 600;
}

.tag--vegetarian {
  background-color: #3B82F6;
}

.tag--vegan {
  background-color: #3B82F6;
}

.tag--paleo {
  background-color: #3B82F6;
}

.meal-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2.7rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-left: 0rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-img {
  width: 100%;
  height: 315.15px;
  object-fit: cover;
}