.table{
    .cellWrapper{
        display: flex;
        align-items: center;
        .image{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
        }
    }
    .status{
        padding: 3px;
        border-radius: 5px;
        &.Admin{
            color:aqua;
            background-color: rgba(red, green, blue, alpha)
        }
        &.PremiumUser{
            color:goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
        }
        &.User{
            color:green;
            background-color: rgba(0,128,0,0.151);
        }
    }
}