/* hr {
  border:none;
 	width: 91%;
	height: 65px;
	margin-top: 0;
	border-bottom: 1px solid #7b7572;
	box-shadow: 0 20px 20px -20px #404040;
  margin: -50px auto 10px; 
} */

/* button{
  cursor: pointer;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.button-prvi-tip {
  background-color: rgb(210, 0, 0);
  color: white;
  border: none;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.button-prvi-tip:hover{
  opacity: 0.7;
}

.button-prvi-tip:active{
  opacity: 0.4;
}

.button-drugi-tip {
  width: 300px;
  background-color: rgb(2, 158, 255);
  color: white;
  border: 1px solid rgb(2, 158, 255);
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: auto;
  transition: background-color 0.15s, 
              color 0.15s;
  vertical-align: top;
}

.button-drugi-tip:hover{
  border-color: rgb(41, 118, 211);
  border-style: solid;
  border-width: 1px;
  background-color: white;
  color: rgb(2, 158, 255);
}

.button-drugi-tip:active{
  opacity: 0.7;
} */

.button-drugi-tip {
  width: 300px;
}

.oglas {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #d2d2d2;
  border-bottom: none;
  /*border-radius: 10px;
  margin-top: 100px;*/
  font-family: "Rubik", sans-serif;;
  background-color: #efefef;
}

.oglas-header {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  margin-right: 87px;
  margin-left: 87px;
  flex-shrink: 0;
  background-color:#FFFFFF;
  border: 1px solid rgb(200, 200, 200);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.oglas-header > h1 {
  margin-bottom: 0px;
}

.oglas-prikaz {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 87px;
  margin-right: 87px;
}

.oglas-slika-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 331.6px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  background-color: #FFFFFF;
  margin-bottom: 70px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
  position: relative;
}

.naslovna-slika-css {
  max-width: 100%;
  max-height: 100%;
}

.oglas-informacije {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  width: 331.6px;
  height: 370px;
  font-size: 20px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  padding: 15px;
  background-color: #FFFFFF;
  margin-bottom: 70px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.oglas-informacije-red {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

.oglas-informacije-cena {
  font-weight: 500;
}

.oglas-informacije-red-korisnik {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.pet-slika-i-polja{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-right: 87px;
  margin-left: 87px;
  margin-bottom: 70px;
  border: 1px solid rgb(200, 200, 200);
  background-color:#FFFFFF;
  border-radius: 10px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.oglas-pet-slika {
  display: flex;
  justify-content: space-around;
}

.oglas-pet-slika > button {
  font-family: "Rubik", sans-serif;;
  font-size: 40px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  transition: background-color 0.15s, 
              color 0.15s;
  margin-top: 100px;
  margin-bottom: 100px;
}

.oglas-pet-slika > button:hover{
  background-color: #d2d2d2;
  border-radius: 10px;
}

.oglas-pet-slika > button:active{
  opacity: 0.7;
}

.oglas-slika {
  height: 400px;
  width: 550px;
}

.polja{
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  list-style-type: square;
  font-size: 20px;
}

.polja-naslov{
  margin-top: -10px;
  margin-bottom: -5px;
  margin-left: -20px;
  font-weight: 500;
}

.oglas-opis{
  background-color:#FFFFFF;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  padding: 20px;
  font-size: 20px;
  margin-left: 87px;
  margin-right: 87px;
  margin-bottom: 70px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.oglas-opis-naslov{
  margin-top: -7px;
  font-weight: 500;
}