.postavi-oglas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d2d2d2;
  border: 1px solid #d2d2d2;
}

#id-postavi-oglas-form {
  max-width: 400px;
  padding: 20px !important; 
  border: 1px solid rgb(186, 186, 186);
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Roboto;
  background-color: rgb(233, 232, 232);
  box-sizing: content-box;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.form-group {
  margin-bottom: 20px;
}

.labell {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Roboto;
  font-size: 16px;
}

.svi-isti {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
}

.input-textarea {
  width: 379px
}

.samo-textarea {
  resize: vertical; 
}

.dugme-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* button[type="submit"] {
  background-color: rgb(210, 0, 0);
  color: white;
  padding: 7px 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
} 

button[type="submit"]:hover{
  opacity: 0.7;
}

button[type="submit"]:active{
  opacity: 0.4;
} */

@media screen and (max-width: 480px) {
  .postavi-oglas-form {
    max-width: 100%;
  }

  .input-textarea{
    width: 320px; 
  }
}

.file-input-button {
  background-color: rgb(178, 178, 178);
  border: none;
  width: 39.6px;
  height: 39.6px;
  border-radius: 19.8px;
  font-size: 18px;
  cursor: pointer;
  transition: opacity 0.15s;
  margin-right: 20px;
}

.file-input-button:hover{
  opacity: 0.7;
}

.file-input-button:active{
  opacity: 0.4;
}

.file-input-button input[type="file"] {
  display: none;
}

.dodavanje-slika{
  display: flex;
  align-items: center;
}

/* h3{
  color: red;
} */