body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;
  background-color: var(--color_primary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root
{
  display: flex;
  flex-direction: column;
  justify-content:start;
  width:inherit;
  height: inherit;
  align-items: center;
  background-color: var(--color_primary);


  --color_primary: #001f3f;
  --color_on_primary: #ffffff;
  --color_secondary: #3d9970;
  --color_on_secondary: #a8a8a9;
}
