@import url("./res/fonts/fonts.css");


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width:100%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root
{
  /* display: flex;
  flex-direction: column;
  justify-content:start;
  width:inherit;
  height: inherit;
  align-items: center; */
  background-color: var(--color_primary);


  --color_primary: #ffffff;
  --color_on_primary: #000000;
  --color_secondary: #ff3333;
  --color_on_secondary: #3d9970;
  --color_gray: #aaaaaa;
}
