* {
    transition: 0.2s;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .App {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #FFE6A2;
  }
  .forma {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    width: 520px;
    height: 500px;
    margin: 140px 0 0 0;
    padding: 20px;
    background: white;
    box-shadow: 0 0 25px #3895e2;
  }
  .labela {
    font-size: 12px;
    color: #071b2c;
  }
  div#flip {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  div#wrapper {
    top: -100px;
    position: absolute;
    width: 400px;
    height: 230px;
    border-radius: 20px;
    box-shadow: 0 0 25px #82b0d6;
  }
  div.cardr {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
  }
  div.containerr {
    background: transparent;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  div#front {
    position: relative;
    left: -10px;
    top: -10px;
    width: 100%;
    height: 100%;
    transition: 1s;
  }
  
  div#silver {
    width: 16%;
    height: 18%;
    position: absolute;
    top: 25px;
    left: 30px;
    border-radius: 5px;
    background: rgb(238, 174, 202);
    background: linear-gradient(
      150deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(100, 202, 255, 0.8408497187937676) 74%,
      rgba(255, 228, 138, 1) 100%
    );
  }
  div#type {
    position: absolute;
    top: 25px;
    text-align: right;
    right: 20px;
    width: 96%;
    height: 18%;
    font-size: 34px;
    font-weight: bold;
    text-transform: uppercase;
  }
  div#cardNumber {
    position: absolute;
    top: 40%;
    width: 100%;
    height: 10%;
    padding: 10px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  div#cardNumber span {
    margin: 0 10px;
  }
  div#cardHolder {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    height: 50px;
  }
  div#cardHolder span:first-of-type,
  div#expires span:first-of-type {
    color: rgba(255, 255, 255, 0.834);
    letter-spacing: 3px;
  }
  div#cardHolder span:last-child {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 400;
    --font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  div#expires {
    position: absolute;
    right: 20px;
    bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 50px;
  }
  div#expires span:last-child {
    font-weight: 700;
  }
  div#back {
    position: relative;
    left: -10px;
    top: -10px;
    width: 100%;
    height: 100%;
    transition: 2s;
  }
  div#back div#band {
    position: absolute;
    top: 20%;
    left: 0;
    width: 99.5%;
    height: 23%;
    background: black;
  }
  div#back div#cvv {
    position: absolute;
    top: 55%;
    left: 4.5%;
    width: 90%;
    height: 15%;
    background: white;
    color: black;
    text-align: right;
    padding-right: 2%;
    border-radius: 5px;
  }
  div#cvv span:first-of-type {
    position: absolute;
    color: white;
    font-weight: bold;
    top: -50%;
    right: 5%;
  }
  div#cvv span:last-of-type {
    position: absolute;
    font-weight: bold;
    top: 15%;
    right: 5%;
  }
  div.inputs {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 85%;
    height: 60%;
    justify-content: space-evenly;
  }
  div.cardInfo {
    display: flex;
    flex-direction: column;
  }
  div.cardInfo input {
    margin: none;
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  div.beforeLast {
    display: flex;
    justify-content: space-between;
  }
  div.date {
    display: flex;
    flex-direction: column;
  }
  div.groupCvv {
    display: flex;
    flex-direction: column;
  }
  .inputt[name="cvv"] {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
  }
  .selectt {
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 0 10px 0 0;
    text-align: center;
  }
  .buttonn[type="submit"] {
    height: 45px;
    border-radius: 5px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    background: rgb(7, 92, 229);
    color: #fff;
    border: none;
    padding: 10px;
    box-shadow: 0 4px 10px #4285f4;
  }
  /* .focused {
    border: 2px solid white;
    border-radius: 7px;
    background: #82b0d63d;
    padding: 10px;
    transition: 1s;
  }*/
  span.focused {
    padding: 0;
    top: 20px;
  } 
  .error {
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    background: red;
    color: white;
    box-shadow: 0 0 10px red;
    transition: 2s;
  }
  .d-none {
    display: none;
    transition: 2s;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
  }
  #success {
    display: block;
    border-radius: 5px;
    padding: 10px 0;
    text-align: center;
    background: green;
    color: white;
    box-shadow: 0 0 10px green;
    transition: 2s;
  }
  .expired {
    font-style: italic;
    text-transform: capitalize;
    color: lightblue;
  }
  